# Python's virtual environment folder
.venv/

# IDE system folders
.idea/
.vscode/

# Cache folder of package
pyfile.egg-info/

# Python cache folders
*__pycache__*

# Setuptools & PyInstaller artifact folders
dist/
build/

# File with text of all releases on GH
releases.md